
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Qwitcher+Grypen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* scrollbar css */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #f1d708;
}
body {
    background-color: #1c1c1a;
    overflow-x: hidden;
    position: relative;
}
section {
    color: #fff;
    width: 100%;
    margin-bottom: 50px;
    transform: translateY(50%);
    transition: 0.5s;
}
section.active {
    transform: translateY(0);
}
/* header */
.header {
    padding: 20px 5%;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(src/img2.jpg);
    background-position: center;
    background-size: cover;
}
.text {
display: flex;
align-items: center;
flex-direction: column;
}
.header h1{
    font-size: 300px;
    text-transform: capitalize;
    font-family: 'Qwitcher Grypen', cursive;
}
.btn_style {
    margin-top: 20px;
    text-decoration: 0;
    text-transform: uppercase;
    color: #f1d708;
    border: 1px solid #f1d708;
    padding: 10px 30px;
    transition: 0.5s;
    font-weight: 400;
}
.btn_style:hover {
background-color: #f1d708;
color: #000;
}

/* menu css */
